@use './variables.scss';

.sidebar {
    background-color: variables.$color-fondo2;
    padding: 0 20px;
    // position: fixed;
    // border: solid green 2px;

    &__logo{
        margin:  30px auto;
        width: 90%;
        max-width: 100px;
    }
    &__logo-imagen{
        width: 100%;
    }
    &__titulo{
        text-align: center;
        margin-bottom: 20px;
    }
    &__generos{
        margin-bottom: 40px;
    }
    &__contenedor-generos{
        display: grid;
        grid-template-columns:  repeat(2, 1fr);
        gap: 10px;
    }
    &__años{
        margin-bottom: 40px;
    }
    &__contenedor-inputs{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    &__input{
        width: 100%;
        padding: 10px 15px;
        border: none;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        outline: none ;
        font-family: variables.$fuente-primaria;
        font-size: 1.2rem;
        color: #fff;
        background: variables.$color-btn;
        &-error{
            outline: 2px solid red;
        }

        &__buscar{
            display: flex;
            align-items: center;
            justify-content: center ;
        }
    }
}